<h1>Analog</h1>

<h3>PICK A FILTER BITCH!</h3>

<div>
  <%= link_to 'Filter by Genre', all_genres_analog_index_path %>
</div>

<div>
  OR!

  <br/>

  See a full list:
</div>

<div>
  <%= link_to 'AM', '/analog/bands/am' %>

  <br/>

  <%= link_to 'FM', '/analog/bands/fm' %>
</div>