<h1>Let's get yo location BITCH</h1>

<button id='get-user-location'>Get my location</button>

<br/>

Or

<br/><br/>

Enter zip: <input id='zip-code'> <button id='submit'>Submit</button>

<br/><br/>
<div id='your-location'></div>


<%= link_to 'Search Radio Stations', analog_index_path %>