		<div id="body" class="clearfix">
			<!-- layout-container -->
			<div id="layout" class="pagewidth clearfix">
				<!-- content -->
				<div id="content" class="clearfix">
					<p style="text-align: center;">
						<big>Station Listings: Genres</big>
					</p>
					<!-- loops-wrapper -->
					<div id="loops-wrapper" class="loops-wrapper">
						<section id="discover-new-flat-theme" class="post-35 section type-section status-publish hentry clearfix section-post">
						<div class="section-inner">
							<h1 style="text-align:center;">Available Genres:</h1>
							<div class="section-content clearfix">
								<p style="text-align: center;">
									<big>Select one to see related stations.</big>
								</p>
								<p style="text-align: center;">
									<% @all_genres.each do |genre| %>
									    <a class="shortcode button large rounded green flat" href="/listing/genres/<%= genre %>"><%= genre %></a>
									<% end %>
								</p>
							</div>
							<!-- /.section-content -->
						</div>
						<!-- /.section-inner -->
						</section>
						<!-- /.section-post -->
					</div>
					<!-- /loops-wrapper -->
				</div>
				<!-- /content -->
			</div>
			<!-- /layout-container -->
		</div>
		<!-- /body -->