<div class="section-outer">
  <h4 class="textcenter">Stations In Your Area By Genre: <%= params[:genre] %></h4>
</div>
<!-- /.section-outer -->

<div class="section-inner" role="main">
      <div id="data-container" class="shortcode clearfix list-post circle-image"></div>
      <!-- /.shortcode list_posts -->
</div>
<!-- /.section-inner -->