<div class="section-outer">
	<h4 class="textcenter">Stations In Your Area</h4>
</div>
<!-- /.section-outer -->

<div class="section-inner">
	<h1 class="textcenter">Would you like to find stations using your location?</h1>
	<h4 class="textcenter">This will show you stations you are more likely to pick up.</h4>
	<br />
	<p class="textcenter">
		<a id="get-user-location" class="shortcode button large rounded green flat" href="#get-user-location">Get my location</a>
	</p>

	<h1 class="textcenter">Or...</h1>
	<h4 class="textcenter">Enter your local zip.</h4>
	<br />
	<p class="textcenter">
		<input id="zip-code"><br />
		<a id="submit" class="shortcode button large rounded green flat" href="#submit">Submit</a>
	</p>

	<div id="location-next-step">
		<h1 class="textcenter">Got It!</h1>
		<h4 id="your-location" class="textcenter"></h4>
		<br />
		<p class="textcenter">
			<%= link_to 'See Radio Stations', find_index_path, class:'shortcode button large rounded green flat' %>
		</p>
	</div>
	<!-- /#location-next-step -->
</div>
<!-- /.section-inner -->