<div class="section-inner">
	<h1 class="textcenter">Want to find stations?</h1>
	<h4 class="textcenter">Please Choose:</h4>
	<p class="textcenter">&nbsp;</p>
	<p class="textcenter">
		<%= link_to 'In My Area', find_location_path, class:'shortcode button large rounded green flat' %>
	</p>
	<p class="textcenter">
		<%= link_to 'Full Listings', listing_index_path, class:'shortcode button large rounded green flat' %>
	</p>
</div>
<!-- /.section-inner -->